.activeIcon,
.sideBarIcon:hover {
    background-color: #182c5f;
    cursor: pointer;
}

.activeOption {
    background-color: #fff;
    cursor: pointer;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}



.unactiveChat {
    cursor: pointer;
}

.activeChat {
    background-color: #ebeff9;
    border: solid 3px #2095eb;
    cursor: pointer;
    
}

.sideBarContainer {
    background-color: #263a6d;
    height: 5rem;
    min-width: 5%;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 1030;
}

svg{
    width: 30px;
    height: 30px;
}

.divSubistituta{
    display: none;
}

.TextoMassa{
    display: none;
}

.containerMensagens {
    max-width: 35rem;
}

.btnAdicionar {
    background-color: #b0dea5;
    font-size: 13pt;
    color: #324872;
    width: 4rem;
    height: 3.5rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonplus {
    font-size: 4rem;
    font-weight: bold;
}

.leadImage {
    width: 60px;
}

.espacamentoInicial {
    margin-top: 1.5rem;
}

.conversaStatus:hover {
    background-color: white;
    border-radius: 0.5rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    color: #6276A842;
    border-radius: 70px;
    background-color: #6276A842;
}


/* Media Querys */
@media (max-width: 360px) {
    .espacamentoInicial {
        margin-left: 5rem;
    }

}

@media (max-width: 370px) {
    .menuButtonStatus {
        text-align: center;
        margin-top: 1rem;
    }
}

@media (max-width: 374px) {
    .sideBarContainer {
        overflow-y: auto;
    }
}

@media (max-width: 992px) {
    .containerMensagens {
        max-width: 100%;
    }
}

/*se quiser colocar animação so tirar os comentarios dessa classe*/
.ConteudoChat {
    overflow-y: scroll;
    /* scroll-behavior: smooth;
    scroll-snap-type: y mandatory;   */
    padding: 2rem;
}


@media (min-width: 992px) {
    .sideBarContainer {
        max-width: 5rem;
        height: auto;
        justify-content: start;
        position: unset;
        transition: 0.8s ease;
    }

    .sideBarContainer:hover{
        min-width: 15%;
        position: fixed;
        z-index: 9999;
        height: 100%;
    }

    .sideBarContainer:hover .containerPai{
    margin-left: 5rem;
    padding-left: 100rem;
        
    }
    
    .sideBarContainer:hover .sideBarIcon  {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    
    .sideBarContainer:hover .divSubistituta{
        display: block;
        max-width: 5%;
    }
    
    .sideBarContainer:hover .TextoMassa  {
        display: block;
    }

    .MarginMedia {
        margin-top: 2rem;
        margin-left: 2rem;
    }

    .espacamentoInicial {
        margin-top: 3rem;
    }

}

/* #pai{
  transition: 5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
} */