@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @if (User.IsInRole("Logar"))
    {
        <h1 class="display-4">Logado</h1>
    }
    else
    {
        <h1 class="display-4">Não Logado</h1>
    }
    
    @if (User.Identity.Name == "1")
    {
        <h1 class="display-4">Logado</h1>
    }
    else
    {
        <h1 class="display-4">Não Logado</h1>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
