.DepartamentoCompo{
    -webkit-box-shadow: 5px 3px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 3px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 3px 13px 0px rgba(0,0,0,0.75);
    width: 25rem;
    height: 8.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.TipoDep{
    color: #263a6d;
    font-weight: bold;
 }
 
 .NumberDep{
     font-weight: bold;
     color: #263a6d;
     font-size: 22px;
     margin-left: 2.5rem;
 }
 