@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="./css/logar/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title title-primary">Seja bem vindo!</h2>
                <p class="description description-primary">pra continuar conectado</p>
                <p class="description description-primary">realizar login com informações pessoais</p>
                <button id="signin" class="btn btn-primary">sign in</button>
            </div>
            <div class="second-column">
                <img src="./image/DazzleBot.png" />
                <h2 class="title title-second">criar conta</h2>
                <p class="description description-second">ou usar email para entrar:</p>
                <div class="form" >


                    <p id="errorCadastro" style="display: none; color: red;">Usuario ou Email Repetido Verifique e Tente Criar Novamente</p>
                    <label class="label-input" for="">
                        <i class="far fa-user icon-modify"></i>
                        <input id="inputNomeCadastrar" onkeypress="hideError()" type="text" placeholder="Nome">
                    </label>

                    <label class="label-input" for="">
                        <i class="far fa-envelope icon-modify"></i>
                        <input id="inputEmailCadastrar" onkeypress="hideError()" type="email" placeholder="Email">
                    </label>

                    <label class="label-input" for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <input id="inputSenhaCadastrar" onkeypress="hideError()" type="password" placeholder="Senha">
                    </label>


                    <button id="buttonCadastrar" class="btn btn-second">entrar</button>
                </div>
            </div><!-- second column -->
        </div><!-- first content -->
        <div class="content second-content">
            <div class="first-column">
                <h2 class="title title-primary">ola, amigo!</h2>
                <p class="description description-primary">coloque detalhes pessoais</p>
                <p class="description description-primary">comece uma jornada com nós</p>
                <button id="signup" class="btn btn-primary">entrar</button>
            </div>
            <div class="second-column">
                <img src="./image/DazzleBot.png" />
                <h2 class="title title-second">entrar com o developer</h2>
                <p class="description description-second">ou use sua conta com email:</p>
                <div class="form">
                    <p id="errorLogin" style="display: none; color: red;">Usuario Não Encontrado Verifique o Usuario ou a Senha</p>
                    <label class="label-input" for="">
                        <i class="far fa-envelope icon-modify"></i>
                        <input id="inputEmailLogar" onkeypress="hideError()" type="email" placeholder="Email">
                    </label>          

                    <label class="label-input" for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <input id="inputSenhaLogar" onkeypress="hideError()" type="password" placeholder="Senha">
                    </label>

                    <a class="password" href="#">Esqueceu sua senha?</a>
                    <button id="buttonEntrar" class="btn btn-second">entrar</button>
                </div>
            </div><!-- second column -->
        </div><!-- second-content -->
    </div>
    <script src="./js/logar/app.js"></script>
</body>
</html>

<script>

    //function para tirar a mensagem de error quando o input e acionado
    const hideError = () => {
        document.getElementById('errorLogin').style.display = 'none';
        document.getElementById('errorCadastro').style.display = 'none';
    }

    //function para enviar dados para efeturar login
    document.getElementById('buttonEntrar').addEventListener('click', () => {
        const url = location.origin + '/login/logar';

        // Dados a serem enviados no corpo da requisição
        const data = {
            logEmail: document.getElementById('inputEmailLogar').value,
            logSenha: document.getElementById('inputSenhaLogar').value,
        };

        // Configurações da requisição
        const options = {
            method: 'POST', // Método HTTP POST
            headers: {
                'Content-Type': 'application/json' // Tipo de conteúdo JSON
            },
            body: JSON.stringify(data) // Converte o objeto JavaScript em JSON
        };

        // Realiza a requisição usando fetch
        fetch(url, options)
            .then(response => {
                if (response.ok) {
                    location.replace(location.origin) //Redireciona Para a Tela Desejada
                } else {
                    document.getElementById('errorLogin').style.display = "block" //se der error colocar display block na mensagem de error visual
                    throw new Error('Erro ao enviar os dados.'); // Lança um erro se a requisição falhar
                }

            })
            // .then(data => {
            //     console.log('Resposta do servidor:', data);
            //     location.reload()

            // })
            .catch(error => {
                console.error('Ocorreu um erro:', error);

            });
    })


    //function para enviar dados para cadastro
    document.getElementById('buttonCadastrar').addEventListener('click', () => {
        const url = location.origin + '/login/Cadastrar';

        // Dados a serem enviados no corpo da requisição
        const data = {
            logUser: document.getElementById('inputNomeCadastrar').value,
            logEmail: document.getElementById('inputEmailCadastrar').value,
            logSenha: document.getElementById('inputSenhaCadastrar').value,
        };

        // Configurações da requisição
        const options = {
            method: 'POST', // Método HTTP POST
            headers: {
                'Content-Type': 'application/json' // Tipo de conteúdo JSON
            },
            body: JSON.stringify(data) // Converte o objeto JavaScript em JSON
        };

        // Realiza a requisição usando fetch
        fetch(url, options)
            .then(response => {
                if (response.ok) {
                    location.replace(location.origin) //Redireciona Para a Tela Desejada
                } else {
                    document.getElementById('errorCadastro').style.display = "block"
                    throw new Error('Erro ao enviar os dados.'); // Lança um erro se a requisição falhar
                }

            })
            // .then(data => {
            //     console.log('Resposta do servidor:', data);
            //     location.reload()

            // })
            .catch(error => {
                console.error('Ocorreu um erro:', error);

            });
    })


</script>